.alert {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    padding: 0.75rem;
}

.alertText {
    padding-top: 0.3rem;
    margin-bottom: 0;
}

.alertClose {
    background: none;
    border: none;
    float: right;
    font-size: 20pt;
    margin-top: -0.3rem;
}