.container {
    margin-top: 5%;
}

#header {
    margin: 0 0 2rem 0;
    text-align: left;
}

.title {
    font-weight: 200;
}

.subtitle {
    font-weight: 300;
}

#spinner {
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, -50%);
    z-index: 999;
}

.nav-tabs {
    margin-bottom: 1rem;
}
  
